<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>ACE Editor</title>
    <!--Jq-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Ace editor主要文件-->
    <script src="https://cdn.bootcss.com/ace/1.4.6/ace.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.4.6/ext-language_tools.js"></script>

</head>
<div th:insert="~{footer :: head}"></div>
<!--problemId-->
<input id="problem-id" type="hidden" th:value = "${problemId}">

<div class="container" style="margin-top: 15px;">
    <div class="row" >
        <!--语言选择-->
        <div id="language" class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                语言选择
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">c</a>
                <a class="dropdown-item" href="#">c/c++</a>
                <a class="dropdown-item" href="#">java</a>
            </div>
        </div>
        <!--主题选择-->
        <div id="theme" class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                主题选择
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">chrome</a>
                <a class="dropdown-item" href="#">eclipse</a>
                <a class="dropdown-item" href="#">twilight</a>
                <a class="dropdown-item" href="#">gob</a>
                <a class="dropdown-item" href="#">github</a>
                <a class="dropdown-item" href="#">chaos</a>
                <a class="dropdown-item" href="#">cobalt</a>
                <a class="dropdown-item" href="#">crimson_editor</a>
                <a class="dropdown-item" href="#">dawn</a>
                <a class="dropdown-item" href="#">xcode</a>
            </div>
        </div>
        <!--字体大小-->
        <div id="font-size" class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                字体大小
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">16</a>
                <a class="dropdown-item" href="#">18</a>
                <a class="dropdown-item" href="#">20</a>
                <a class="dropdown-item" href="#">22</a>
                <a class="dropdown-item" href="#">24</a>
                <a class="dropdown-item" href="#">26</a>
                <a class="dropdown-item" href="#">28</a>
                <a class="dropdown-item" href="#">30</a>
                <a class="dropdown-item" href="#">32</a>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="breadcrumb">
            <span id="code-type" class="breadcrumb-item active"></span>&nbsp;
            <span id="time-limit" class="breadcrumb-item active"></span>&nbsp;S
            <span id="memory-limit" class="breadcrumb-item active"></span>&nbsp;MB&nbsp;
            <span class="breadcrumb-item active">64</span>&nbsp;KB
        </nav>
    </div>

    <div class="row" style="margin-top: -5px">
        <pre id="editor" class="ace_editor" style="min-height:600px;height: 500px; width: 99%"><textarea class="ace_text-input"></textarea></pre>
    </div>

    <div class="row">
        <button id="submit" class="btn btn-success">提交代码</button>
    </div>
</div>
<script>
    servletContent = "[[@{/}]]";
    servletContent = servletContent.substring(0, servletContent.lastIndexOf("/"));
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });

    editor = ace.edit("editor");
    //设置只读(true时只读，用于展示代码)
    editor.setReadOnly(false);
    //自动换行,设置为off关闭
    editor.setOption("wrap", "free")
    //高亮
    editor.setHighlightActiveLine(false);
    //启用提示菜单
    ace.require("ace/ext/language_tools");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    var problemId = {
        getProblemId: function () {
            return $("#problem-id").val();
        }
    }
    var codeType = {
        getCodeType: function () {
            return $("#code-type").text();
        },
        setCodeType: function(codeType) {
            $("#code-type").text(codeType);
            if (codeType == 'c' || codeType == 'c/c++') {
                editor.getSession().setMode("ace/mode/c_cpp");
            } else if (codeType == 'java'){
                editor.getSession().setMode("ace/mode/java");
            }
        }
    }
    var theme = {
        getTheme: function () {
            var theme =  editor.getTheme();
            theme = theme.substring(theme.lastIndexOf("/") + 1);
            return theme;
        },
        setTheme: function (theme) {
            editor.setTheme("ace/theme/" + theme);
        }
    }
    var fontSize = {
        getFontSize: function () {
            editor.getFontSize();
        },
        setFontSize: function (fontSize) {
            editor.setFontSize(fontSize);
        }
    }
    var c_cppTimeLimit = {
        getC_cppTimeLimit: function () {
            return sessionStorage.getItem("c_cppTimeLimit");
        },
        setC_cppTimeLimit: function (c_cppTimeLimit) {
            sessionStorage.setItem("c_cppTimeLimit", c_cppTimeLimit);
        }
    }
    var c_cppMemoryLimit = {
        getC_cppMemoryLimit: function () {
            return sessionStorage.getItem("c_cppMemoryLimit");
        },
        setC_cppMemoryLimit: function (c_cppMemoryLimit) {
            sessionStorage.setItem("c_cppMemoryLimit", c_cppMemoryLimit);
        }
    }
    var javaTimeLimit = {
        getJavaTimeLimit: function () {
            return sessionStorage.getItem("javaTimeLimit");
        },
        setJavaTimeLimit: function (javaTimeLimit) {
            sessionStorage.setItem("javaTimeLimit", javaTimeLimit);
        }
    }
    var javaMemoryLimit = {
        getJavaMemoryLimit: function () {
            return sessionStorage.getItem("javaMemoryLimit");
        },
        setJavaMemoryLimit: function (javaMemoryLimit) {
            sessionStorage.setItem("javaMemoryLimit", javaMemoryLimit);
        }
    }
    var timeLimit = {
        getTimeLimit: function () {
            return $("#time-limit").text();
        },
        setTimeLimit: function (timeLimit) {
            $("#time-limit").text(timeLimit);
        }
    }
    var memoryLimit = {
        getMemoryLimit: function () {
            return $("#memory-limit").text();
        },
        setMemoryLimit: function (memoryLimit) {
            $("#memory-limit").text(memoryLimit);
        }
    }
    //初始化设定
    theme.setTheme("chrome");
    fontSize.setFontSize(20);
    codeType.setCodeType("c");
    editor.setValue("#include<stdio.h>\n" +
        "int main()\n" +
        "{\n" +
        "    int a,b;\n" +
        "    scanf(\"%d%d\",&a,&b);\n" +
        "    printf(\"%d\",a+b);\n" +
        "    return 0;\n" +
        "}"
    );
    //获取数据
    if(problemId.getProblemId() != null) {
        $.getJSON(servletContent + "/problem_limit/" + problemId.getProblemId(), function (res) {
            c_cppTimeLimit.setC_cppTimeLimit(res.c_cppTimeLimit);
            c_cppMemoryLimit.setC_cppMemoryLimit(res.c_cppMemoryLimit);
            javaTimeLimit.setJavaTimeLimit(res.javaTimeLimit);
            javaMemoryLimit.setJavaMemoryLimit(res.javaMemoryLimit);
            timeLimit.setTimeLimit(res.c_cppTimeLimit);
            memoryLimit.setMemoryLimit(res.c_cppMemoryLimit);
        })
    }
    //更换语言类型事件
    $("#language a").click(function () {
        codeType.setCodeType(this.text);
        if (this.text == 'c' || this.text == 'c/c++') {
            timeLimit.setTimeLimit(c_cppTimeLimit.getC_cppTimeLimit());
            memoryLimit.setMemoryLimit(c_cppMemoryLimit.getC_cppMemoryLimit());
        } else if(this.text == 'java') {
            timeLimit.setTimeLimit(javaTimeLimit.getJavaTimeLimit());
            memoryLimit.setMemoryLimit(javaMemoryLimit.getJavaMemoryLimit());
        }
    });
    //更换主题事件
    $("#theme a").click(function () {
        theme.setTheme(this.text);
    })
    //更换字体大小事件
    $("#font-size a").click(function () {
        fontSize.setFontSize(Number(this.text));
    })
    //提交代码事件
    $("#submit").click(function () {
        $.post(servletContent + "/submit_code", {
            problemId: problemId.getProblemId(),
            codeValue: editor.getValue(),
            codeType: codeType.getCodeType(),
            fontSize: editor.getFontSize(),
            theme: theme.getTheme()
        }, function () {
            window.location.href = servletContent + "/submit_code_list";
        })
    })

    if (problemId.getProblemId() != null) {
        $.get(servletContent + "/submit_code/" + problemId.getProblemId(), function (res) {
            var isLogin = res.isLogin;
            if (isLogin && res.submitCode != null) {
                editor.setValue(res.submitCode.codeValue);

                console.log(res.submitCode.codeValue);

                codeType.setCodeType(res.submitCode.codeType);
                theme.setTheme(res.submitCode.theme);
                var fontSize = res.submitCode.fontSize;
                if (fontSize == 0) {
                    fontSize = 18;
                }
                editor.setFontSize(fontSize);
            }
        })
    }
</script>

</body>
</html>


