<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>ACE Editor</title>
    <!--Jq-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Ace editor主要文件-->
    <script src="https://cdn.bootcss.com/ace/1.4.6/ace.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.4.6/ext-language_tools.js"></script>

</head>
<div th:insert="~{footer :: head}"></div>
<!--problemId-->
<input id="problem-id" type="hidden" th:value="${problemId}">

<div class="container" style="margin-top: 15px;">
    <div class="row">
        <!--语言选择-->
        <div id="language" class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                语言选择
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">c (gcc Alpine 8.3.0)</a>
                <a class="dropdown-item" href="#">c/c++ (g++ Alpine 8.3.0)</a>
                <a class="dropdown-item" href="#">java (jdk 1.8)</a>
                <a class="dropdown-item" href="#">go (go 1.13.3)</a>
                <a class="dropdown-item" href="#">python3 (python 3.7.5)</a>
            </div>
        </div>
        <!--主题选择-->
        <div id="theme" class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                主题选择
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">chrome</a>
                <a class="dropdown-item" href="#">eclipse</a>
                <a class="dropdown-item" href="#">twilight</a>
                <a class="dropdown-item" href="#">gob</a>
                <a class="dropdown-item" href="#">github</a>
                <a class="dropdown-item" href="#">chaos</a>
                <a class="dropdown-item" href="#">cobalt</a>
                <a class="dropdown-item" href="#">crimson_editor</a>
                <a class="dropdown-item" href="#">dawn</a>
                <a class="dropdown-item" href="#">xcode</a>
            </div>
        </div>
        <!--字体大小-->
        <div id="font-size" class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                字体大小
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">16</a>
                <a class="dropdown-item" href="#">18</a>
                <a class="dropdown-item" href="#">20</a>
                <a class="dropdown-item" href="#">22</a>
                <a class="dropdown-item" href="#">24</a>
                <a class="dropdown-item" href="#">26</a>
                <a class="dropdown-item" href="#">28</a>
                <a class="dropdown-item" href="#">30</a>
                <a class="dropdown-item" href="#">32</a>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="breadcrumb">
            <span id="code-type" class="breadcrumb-item active"></span>&nbsp;
            <span id="time-limit" class="breadcrumb-item active"></span>&nbsp;S
            <span id="memory-limit" class="breadcrumb-item active"></span>&nbsp;MB&nbsp;
            <span class="breadcrumb-item active">64</span>&nbsp;KB
        </nav>
    </div>

    <div class="row" style="margin-top: -5px">
        <pre id="editor" class="ace_editor" style="min-height:600px;height: 500px; width: 99%"><textarea
                class="ace_text-input"></textarea></pre>
    </div>

    <div class="row">
        <button id="submit" class="btn btn-success">提交代码</button>
    </div>
</div>
<script>
    servletContent = "[[@{/}]]";
    servletContent = servletContent.substring(0, servletContent.lastIndexOf("/"));
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });



    editor = ace.edit("editor");
    //设置只读(true时只读，用于展示代码)
    editor.setReadOnly(false);
    //自动换行,设置为off关闭
    editor.setOption("wrap", "free")
    //高亮
    editor.setHighlightActiveLine(false);
    //启用提示菜单
    ace.require("ace/ext/language_tools");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
    var problemId = {
        getProblemId: function () {
            return $("#problem-id").val();
        }
    }
    var codeType = {
        /*@Result:
         *codeType: 1.c, 2.c_cpp, 3.java, 4.go, 5.python3
         *
         * */
        getCodeType: function () {
            var codeType = $("#code-type").text()
            if (codeType == "c/c++") {
                codeType = "c_cpp";
            }
            return codeType;
        },

        /*@Param:
         *codeType: 1.c, 2.c_cpp, 3.java, 4.go, 5.python3
         *
         * */
        setCodeType: function (codeType) {
            $("#code-type").text(codeType == "c_cpp"? "c/c++": codeType);
            var session = editor.getSession();
            switch (codeType) {
                case "c":
                    session.setMode("ace/mode/c_cpp")
                    break
                case "c_cpp":
                    session.setMode("ace/mode/c_cpp")
                    break
                case "java":
                    session.setMode("ace/mode/java")
                    break
                case "go":
                    session.setMode("ace/mode/golang")
                    break
                case "python3":
                    session.setMode("ace/mode/python")
                    break
                default:
                    break;
            }
            timeLimit.setTimeLimit(sessionStorage.getItem(codeType + "TimeLimit"))
            memoryLimit.setMemoryLimit(sessionStorage.getItem(codeType + "MemoryLimit"))
        }
    }
    var theme = {
        getTheme: function () {
            var theme = editor.getTheme();
            theme = theme.substring(theme.lastIndexOf("/") + 1);
            return theme;
        },
        setTheme: function (theme) {
            editor.setTheme("ace/theme/" + theme);
        }
    }
    var fontSize = {
        getFontSize: function () {
            editor.getFontSize();
        },
        setFontSize: function (fontSize) {
            editor.setFontSize(fontSize);
        }
    }
    var timeLimit = {
        getTimeLimit: function () {
            return $("#time-limit").text();
        },
        setTimeLimit: function (timeLimit) {
            $("#time-limit").text(timeLimit);
        }
    }
    var memoryLimit = {
        getMemoryLimit: function () {
            return $("#memory-limit").text();
        },
        setMemoryLimit: function (memoryLimit) {
            $("#memory-limit").text(memoryLimit);
        }
    }
    //更换语言类型事件
    $("#language a").click(function () {
        newCodeType = this.text
        newCodeType = newCodeType.substring(0, newCodeType.indexOf(' '))
        if (newCodeType == "c/c++") {
            newCodeType = "c_cpp";
        }
        codeType.setCodeType(newCodeType)
    });
    //更换主题事件
    $("#theme a").click(function () {
        theme.setTheme(this.text);
    })
    //更换字体大小事件
    $("#font-size a").click(function () {
        fontSize.setFontSize(Number(this.text));
    })
    if (problemId.getProblemId() != null) {
        //获取数据
        $.getJSON(servletContent + "/problem_limit/" + problemId.getProblemId(), function (res) {
            var timeLimit = res.timeLimit
            for (it in timeLimit) {
                if (typeof (timeLimit[it]) != "function" && it.endsWith("TimeLimit")) {
                    sessionStorage.setItem(it, timeLimit[it])
                }
            }
            var memoryLimit = res.memoryLimit
            for (it in memoryLimit) {
                if (typeof (timeLimit[it]) != "function" && it.endsWith("MemoryLimit")) {
                    sessionStorage.setItem(it, memoryLimit[it])
                }
            }
            //获取历史提交
            $.get(servletContent + "/submit_code/" + problemId.getProblemId(), function (res) {
                var hasOldSubmitCode = res.isLogin == true && res.submitCode != null;
                if (hasOldSubmitCode) {
                    editor.setValue(res.submitCode.codeValue)
                    codeType.setCodeType(res.submitCode.codeType)
                    window.theme.setTheme(res.submitCode.theme)
                    editor.setFontSize(Number(res.submitCode.fontSize))
                } else {
                    //默认样式
                    fontSize.setFontSize(20)
                    codeType.setCodeType("c_cpp")
                    editor.setValue("#include<iostream>\n" +
                        "using namespace std;\n" +
                        "int main()\n" +
                        "{\n" +
                        "    long long a, b;\n" +
                        "    cin >> a >> b;\n" +
                        "    cout << a + b;\n" +
                        "    return 0;\n" +
                        "}"
                    )
                    var length = $("#theme a").length
                    var theme = "chrome";
                    if(length > 0) {
                        var random = Math.floor(Math.random() * length)
                        theme = $("#theme a").get(random).text
                    }
                    window.theme.setTheme(theme)
                }
            })
        })
    }

    //提交代码事件
    $("#submit").click(function () {
        $.post(servletContent + "/submit_code", {
            problemId: problemId.getProblemId(),
            codeValue: editor.getValue(),
            codeType: codeType.getCodeType(),
            fontSize: editor.getFontSize(),
            theme: theme.getTheme()
        }, function () {
            window.location.href = servletContent + "/submit_code_list";
        })
    })
</script>
</body>
</html>


