<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--jq-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--Layui-->
    <link href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css" rel="stylesheet">
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
    <!--wangEditro-->
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js" type="text/javascript"></script>

</head>
<body>
<div class="layui-container" style="margin-top: 100px">
    <div class="layui-row">
        <div id="editor">
            <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
    // 禁用编辑功能
    //editor.$textElem.attr('contenteditable', false)
    // 开启编辑功能
    //editor.$textElem.attr('contenteditable', true)
    //设置内容
    //editor.txt.html()
    //editor.txt.text()
</script>


<div class="layui-container">
    <div id="form" class="layui-form layui-form-pane">
        <!--题目内容-->
        <input id="problemId" type="hidden" name="problemId" th:value="${problemId}">
        <div class="layui-form-item" style="margin-top: 40px">
            <label class="layui-form-label">题目名称</label>
            <div class="layui-input-block">
                <input id="problemName" type="text" name="problemName" required lay-verify="required"
                       placeholder="请输入题目名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--时限-->
        <div class="layui-inline">
            <label class="layui-form-label">c/c++时限</label>
            <div class="layui-input-inline" style="width: 100px">
                <input id="c_cppTimeLimit" type="text" name="timeLimit.c_cppTimeLimit" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">java时限</label>
            <div class="layui-input-inline" style="width: 100px">
                <input id="javaTimeLimit" type="text" name="timeLimit.javaTimeLimit" autocomplete="off" class="layui-input">
            </div>
        </div>

        <br>
        <div class="layui-inline" style="margin-top: 15px">
            <label class="layui-form-label">c/c++内存</label>
            <div class="layui-input-inline" style="width: 100px">
                <input id="c_cppMemoryLimit" type="text" name="memoryLimit.c_cppMemoryLimit" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="margin-top: 15px">java内存</label>
            <div class="layui-input-inline" style="width: 100px;margin-top: 15px">
                <input id="javaMemoryLimit" type="text" name="memoryLimit.javaMemoryLimit" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-row" style="margin-top: 15px">
            <button id="submit" type="button" class="layui-btn">立即提交</button>
        </div>
    </div>

    <div id="test-data" th:if="${problemId != null}" class="layui-row" style="margin-top: 15px">
        <button type="button" class="layui-btn" id="updateTestData">
            <i class="layui-icon layui-icon-upload"></i>上传数据包
        </button>
        <button type="button" class="layui-btn" onclick="downloadTestData()">
            <strong><i class="layui-icon layui-icon-download-circle"></i></strong>下载数据包(<span id="testDataFile"></span>&nbsp;KB)
        </button>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    servletContent = /*[[@{/}]]*/ '';
    servletContent = servletContent.substring(0, servletContent.lastIndexOf("/") + 1);
</script>　
<script type="text/javascript">
    if ($("#problemId").val() != null) {
        $.getJSON(servletContent + "problem/data/" + $("#problemId").val(), function (res) {
            $("#problemName").val(res.problemName);
            editor.txt.html(res.problemContent);
            $("#c_cppTimeLimit").val(res.timeLimit.c_cppTimeLimit);
            $("#javaTimeLimit").val(res.timeLimit.javaTimeLimit);
            $("#c_cppMemoryLimit").val(res.memoryLimit.c_cppMemoryLimit);
            $("#javaMemoryLimit").val(res.memoryLimit.javaMemoryLimit);
        })
        /*获取题目样例数据*/
        $.getJSON(servletContent + "getTestDataMessage/" + $("#problemId").val(), function (res) {
            if(res.testDataStatus == "已上传") {
                var fileSize = Number(res.fileSize);
                if (fileSize == 0) {
                    fileSize = 1;
                }
                $("#testDataFile").text(fileSize);
            } else {
                $("#testDataFile").text(res.testDataStatus);
            }
        })
    }
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#updateTestData' //绑定元素
            ,url: servletContent + 'updateTestData' //上传接口
            ,accept: 'file'
            ,exts: 'zip'
            ,auto: true
            ,method: 'POST'
            ,multiple: false
            ,size: 20480
            ,data: {
                problemId: function () {
                    return $("#problemId").val();
                }
            }
            ,done: function(res, index, upload){
                alert("文件上传成功")
            }
            ,error: function(){
                alert("文件上传出错...")
            }
        });
    });
    $("#submit").click(function () {
        $.post(servletContent + "updateProblem", {
            problemId: $("#problemId").val(),
            problemContent: editor.txt.html(),
            problemName: $("#problemName").val(),
            c_cppTimeLimit: $("#c_cppTimeLimit").val(),
            javaMemoryLimit: $("#javaMemoryLimit").val(),
            c_cppMemoryLimit: $("#c_cppMemoryLimit").val(),
            javaMemoryLimit: $("#javaMemoryLimit").val()
            }, function (res) {
                alert("提交成功")
            }
        )
    })

    function downloadTestData() {
        window.location.href = servletContent + "downloadTestData/" + $("#problemId").val();
    }

</script>
</body>
</html>