<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul id="top" class="layui-nav layui-bg-cyan" th:fragment="head">
    <li class="layui-nav-item"><a href="@{/index}">首页</a></li>
    <li class="layui-nav-item layui-this"><a th:href="@{/index}">题库</a></li>
    <li class="layui-nav-item"><a href="">----</a></li>
    <li th:if="${isAdmin == true}" class="layui-nav-item">
        <a href="javascript:;">管理员权限</a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/admin/problem/1}">添加题目</a></dd>
            <dd><a href="">------</a></dd>
            <dd><a href="">-------</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">登录</a></li>
</ul>

</body>
</html>