<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--jq-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--Layui-->
    <link href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css" rel="stylesheet">
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
</head>
<body style="background-color: 	#FFFFFF">

<div th:insert="~{footer :: head}"></div>
<input id="problem-id" type="hidden" th:value="${problemId}">
<div class="layui-container" style="margin-top: 20px">
    <div class="layui-row">
        <div id="problem-content"></div>
    </div>
</div>
<div class="layui-container" style="margin-top: 15px">
    <div class="layui-row">
        <button id="ace-editor" type="button" class="layui-btn">代码窗口</button>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    servletContent = /*[[@{/}]]*/ '';
    servletContent = servletContent.substring(0, servletContent.lastIndexOf("/") + 1);
</script>
<script type="text/javascript">
    if ($("#problem-id").val() != null) {
        $.get(servletContent + "problem/data/" + $("#problem-id").val(), function (res) {
            $("#problem-content").html(res.problemContent);
        });
    }
    $("#ace-editor").click(function () {
        window.open(servletContent + "ace-editor/" + $("#problem-id").val());
    });
</script>


</body>
</html>