<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--Layui-->
    <link href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css" rel="stylesheet">
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
    <script th:src="@{/js/submit-code-list.js}"></script>
</head>
<body>

<div class="layui-container" style="margin-top: 20px">
    <div class="layui-row">
        <table id="submit-code-list" lay-filter="submit-code-list"></table>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>