<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/10/4
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.MemoryLimitDao">
    <resultMap id="MemoryLimit" type="com.example.myproject2.entity.MemoryLimit">
        <result column="memory_limit_id" jdbcType="INTEGER" property="memoryLimitId"></result>
        <result column="problem_id" jdbcType="INTEGER" property="problemId"></result>
        <result column="c_cpp_memory_limit" jdbcType="INTEGER" property="c_cppMemoryLimit"></result>
        <result column="java_memory_limit" jdbcType="INTEGER" property="javaMemoryLimit"></result>
        <result column="go_memory_limit" jdbcType="INTEGER" property="goMemoryLimit"></result>
        <result column="python3_memory_limit" jdbcType="INTEGER" property="python3MemoryLimit"></result>
    </resultMap>
    <select id="selectMemoryLimit" resultMap="MemoryLimit">
        select * from memory_limit where problem_id = #{problemId};
    </select>

</mapper>