<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/9/29
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.ProblemDao">
    <resultMap id="Problem" type="com.example.myproject2.entity.Problem">
        <result column="problem_id" property="problemId"/>
        <result column="problem_name" property="problemName"/>
        <result column="accept_num" property="acceptNum"/>
        <result column="submit_num" property="submitNum"/>
        <result column="problem_content" property="problemContent"/>
        <result column="test_data_path" property="testDataPath"/>
        <association property="timeLimit" javaType="com.example.myproject2.entity.TimeLimit">
            <result column="c_time_limit" property="cTimeLimit"></result>
            <result column="c_cpp_time_limit" property="c_cppTimeLimit"></result>
            <result column="java_time_limit" property="javaTimeLimit"></result>
            <result column="go_time_limit" property="goTimeLimit"></result>
            <result column="python3_time_limit" property="python3TimeLimit"></result>
        </association>
        <association property="memoryLimit" javaType="com.example.myproject2.entity.MemoryLimit">
            <result column="c_memory_limit" property="cMemoryLimit"></result>
            <result column="c_cpp_memory_limit" property="c_cppMemoryLimit"></result>
            <result column="java_memory_limit" property="javaMemoryLimit"></result>
            <result column="go_memory_limit" property="goMemoryLimit"></result>
            <result column="python3_memory_limit" property="python3MemoryLimit"></result>
        </association>
    </resultMap>

    <insert id="insertProblem" parameterType="com.example.myproject2.entity.Problem">
        insert into problem (problem_name, problem_content)
        values(#{problemName}, #{problemContent});
    </insert>

    <delete id="deleteProblem">
        delete from problem where problem_id = #{problemId};
    </delete>
    <update id="updateProblem" parameterType="com.example.myproject2.entity.Problem">
        update problem
        set
        problem_name = #{problemName},
        problem_content = #{problemContent}
        where problem_id = #{problemId}
    </update>

    <update id="updateTestDataPath">
        update problem
        set
        test_data_path = #{testDataPath}
        where problem_id = #{problemId};
    </update>

    <update id="updateSubmitNum">
        update problem
        set
        submit_num = submit_num + 1
        where problem_id = #{problemId};
    </update>

    <update id="updateAcceptNum">
        update problem
        set
        accept_num = accept_num + 1
        where problem_id = #{problemId};
    </update>

    <select id="selectProblemId" resultType="java.lang.Boolean">
        select
        count(1)
        from problem
        where problem_id = #{problemId};
    </select>

    <select id="selectTestDataPath" resultType="java.lang.String">
        select
        test_data_path
        from problem
        where problem_id = #{problemId};
    </select>

    <select id="selectProblemList" resultMap="Problem">
        select
        problem_id,
        problem_name,
        accept_num,
        submit_num
        from problem limit #{page}, #{limit};
    </select>

    <select id="selectProblemByProblemId" resultMap="Problem">
        select
        *
        from problem a
        join memory_limit b on a.problem_id = b.problem_id
        join time_limit c on a.problem_id = c.problem_id
        where a.problem_id = #{problemId};
    </select>

    <select id="selectProblemIdByProblemName" resultType="java.lang.Integer">
        select
        problem_id
        from problem
        where problem_name = #{problemName};
    </select>

    <select id="selectProblemIdAndProblemNameList" resultMap="Problem">
        select
        problem_id,
        problem_name
        from problem limit #{page}, #{limit};
    </select>

    <select id="selectProblem2ByProblemId" resultMap="Problem">
        select
        problem_name,
        problem_content
        from problem
        where problem_id = #{problemId}
    </select>

</mapper>