<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/10/9
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.RunCodeDao">
    <resultMap id="RunCode" type="com.example.myproject2.entity.RunCode">
        <result column="run_code_id" jdbcType="INTEGER" property="runCodeId"></result>
        <result column="submit_code_id" jdbcType="INTEGER" property="submitCodeId"></result>
        <result column="run_code_file" jdbcType="CHAR" property="runCodeFile"></result>
        <result column="code_type" jdbcType="VARCHAR" property="codeType"></result>
        <result column="test_data_path" jdbcType="CHAR" property="testDataPath"></result>
        <result column="test_data_serial" jdbcType="SMALLINT" property="testDataSerial"></result>
        <result column="status" jdbcType="VARCHAR" property="status"></result>
        <result column="run_time" jdbcType="TINYINT" property="runTime"></result>
        <result column="run_memory" jdbcType="INTEGER" property="runMemory"></result>
    </resultMap>
    <insert id="insertRunCodes">
        insert into run_code(submit_code_id, run_code_file, code_type, test_data_path, test_data_serial)
        values
        <foreach collection="runCodes" item="item" separator=",">
            (#{item.submitCodeId}, #{item.runCodeFile}, #{item.codeType}, #{item.testDataPath}, #{item.testDataSerial})
        </foreach>
    </insert>
    <update id="updateStatus">
        update run_code set status = #{status} where run_code_id = #{runCodeId};
    </update>

    <update id="updateJudgeStatus">
        update run_code
        set
        status = #{status} ,
        run_time = #{runTime},
        run_memory = #{runMemory}
        where run_code_id = #{runCodeId};
    </update>

    <select id="selectRunCodeList" resultType="java.util.HashMap">
        select run_code_id as runCodeId, submit_code_id as submitCodeId, run_code_file as runCodeFile, code_type as codeType, test_data_path as testDataPath
        from run_code where status = 'waiting' limit #{limit};
     </select>

    <select id="selectRunCode" resultType="java.util.HashMap" useCache="false">
        select run_code_id as runCodeId, submit_code_id as submitCodeId, run_code_file as, code_type, test_data_path
        from run_code where status = 'waiting' limit 1;
       </select>
</mapper>