<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/10/4
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.SubmitCodeDao">

    <insert id="insertSubmitCode" parameterType="com.example.myproject2.entity.SubmitCode">
        insert into submit_code (user_id, problem_id, code_value, code_type, font_size, theme)
        values(#{userId}, #{problemId}, #{codeValue}, #{codeType}, #{fontSize}, #{theme});
    </insert>

    <update id="updateStatus">
        update submit_code set judge_status = #{status} where submit_code_id = #{submitCodeId};
    </update>

    <update id="updateTestNumber">
        update submit_code set test_number = #{testNumber} where submit_code_id = #{submitCodeId};
    </update>

    <update id="updateJudgeTestNumber">
        update submit_code
        set judge_test_number = judge_test_number + 1
        where submit_code_id = #{submitCodeId};
    </update>

    <update id="updateJudgeStatus">
        update submit_code
        set judge_status = #{judgeStatus}
        where submit_code_id = #{submitCodeId} and (judge_status = 'AC' or judge_status = 'running')
    </update>

    <select id="selectSubmitCodeList" resultType="java.util.HashMap">
        select
        a.problem_id as problemId,
        c.problem_name as problemName,
        a.code_type as codeType,
        b.user_name as userName,
        a.judge_status as judgeStatus,
        a.submit_time as submitTime
        from submit_code a
        left join user b on a.user_id = b.user_id
        left join problem c on a.problem_id = c.problem_id
        order BY a.submit_time desc limit #{page}, #{limit};
    </select>

    <select id="selectSubmitCodeInWaiting" resultType="java.util.HashMap">
        select
        submit_code_id as submitCodeId,
        code_type as codeType,
        code_value as codeValue,
        problem_id as problemId
        from submit_code where judge_status = 'waiting' order by submit_time limit 1;
    </select>

    <select id="selectProblemId" resultType="java.lang.Integer">
        select problem_id as problemId from submit_code where submit_code_id = #{submitCodeId};
    </select>

    <select id="selectJudgeTestNumber" resultType="java.lang.Integer">
        select judge_test_number from submit_code where submit_code_id = #{submitCodeId};
    </select>

    <select id="selectTestNumber" resultType="java.lang.Integer">
        select test_number from submit_code where submit_code_id = #{submitCodeId};
    </select>

    <select id="selectJudgeStatus" resultType="java.lang.String">
        select status from run_code where submit_code_id = #{submitCodeId};
    </select>


</mapper>