<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/10/4
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.SubmitCodeDao">

    <insert id="insertSubmitCode" parameterType="com.example.myproject2.entity.SubmitCode">
        insert into submit_code (user_id, problem_id, code_value, code_type, font_size, theme)
        values(#{userId}, #{problemId}, #{codeValue}, #{codeType}, #{fontSize}, #{theme});
    </insert>

    <select id="selectSubmitCodeList" resultType="com.example.myproject2.entity.SubmitCodeListPage">
        select
        a.problem_id as problemId,
        c.problem_name as problemName,
        a.code_type as codeType,
        b.user_name as userName,
        a.judge_status as judgeStatus
        from submit_code a
        left join user b on a.user_id = b.user_id
        left join problem c on a.problem_id = c.problem_id
        order BY a.submit_time desc limit #{page}, #{limit};
    </select>
</mapper>