<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/10/1
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.UserDao">
    <resultMap id="User" type="com.example.myproject2.entity.User">
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="user_email" property="userEmail"></result>
        <result column="user_password" property="userPassword"></result>
    </resultMap>
    <insert id="insertUser">
        insert into user (user_email, user_password)
        values(#{userEmail}, #{password});
    </insert>
    <select id="selectUserEmailExist" resultType="java.lang.Boolean">
        select count(1) from user where user_email = #{userEmail};
    </select>

    <select id="selectUserExist" resultType="java.lang.Boolean">
        select count(1) from user where user_email = #{userEmail} and password = #{password};
    </select>

    <select id="selectUserId" resultType="java.lang.Integer">
        select user_id from user where user_email = #{userEmail};
    </select>

    <select id="selectPasswordByUserEmail" resultType="java.lang.String">
        select user_password from user where user_email = #{userEmail};
    </select>

    <select id="selectRoleListByUserEmail" resultType="java.lang.String">
        select c.role_name from user a
        join user_role b on a.user_id = b.user_id
        join role c on b.role_id = c.role_id
        where user_email = #{userEmail};
    </select>

    <select id="selectUsers" resultMap="User">
        select
        user_id,
        user_name,
        user_email
        from user limit #{page}, #{limit};
    </select>

    <select id="selectRoleListByUserId" resultType="java.lang.String">
        select role_name from user_role a
        join role b on a.role_id = b.role_id
        where a.user_id = #{userId};
    </select>
</mapper>

