<?xml version="1.0" encoding="UTF-8"?>
<!--
@author ChenCheng
@date 2019/10/1
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myproject2.dao.UserDao">
    <select id="getUserRights" resultType="java.lang.Integer">
        select user_rights from user where user_id = #{userId} and user_password = #{userPassword};
    </select>

</mapper>